* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Play";
}

/* container start */
.container {
    margin: 0 auto;
    max-width: 1300px;
}

/* container end */

/* fonts start */
@font-face {
    font-family: "Play";
    src: url(../fonts/Play-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Play";
    src: url(../fonts/Play-Regular.ttf);
    font-weight: 400;
}

/* fonts end */

/* my-150 start */
.my-150 {
    padding-top: 150px;
}

/* my-150 end */

/* body start */
body {
    background-color: rgb(40, 35, 42);
    scroll-padding-top: 100px;
    overflow-x: hidden;
}

/* body end */

/* caption start */
.caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 70px;
}

.title p {
    font-size: 48px;
    color: #FF9D00;
    font-weight: 700;
    text-align: center;
}

.subtitle p {
    font-size: 32px;
    color: #FFE66B;
    font-weight: 400;
    text-align: center;
}

/* caption end */

/* header start */
header {
    width: 100%;
    border-bottom: 2px solid #FF9D00;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgb(40, 35, 42);
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px;
    height: 120px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    font-size: 24px;
    font-weight: 400;
    color: #FF9D00;
}

nav a:hover {
    transform: scale(1.1);
}

.header_button {
    padding: 15px 32px;
    background-color: #FF9D00;
    border: 2px solid #FF9D00;
    border-radius: 10px;
}

.header_button:hover {
    background-color: transparent;
    border: 2px solid #FF9D00;
}

.header_button a {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

/* header end */

/* banner start */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.659),
            rgba(0, 0, 0, 0.581)), url("../media/banner/banner.jpg") 100%/cover no-repeat;
    height: 800px;
    width: 100%;
    margin-top: 120px;
}

.banner p {
    font-size: 65px;
    color: #FF9D00;
    font-weight: 700;
    text-align: center;
}

.banner span {
    color: #FFE66B;
}

.button_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.banner_button {
    width: 340px;
    height: 70px;
    background-color: #FF9D00;
    border: 2px solid #FF9D00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_button:hover {
    background-color: transparent;
    border: 2px solid #FF9D00;
}

.banner_button a {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

/* banner end */

/* services start */
.services_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.services_card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.services_card img {
    border-radius: 20px;
    width: 270px;
    height: 270px;
}

.services_card p {
    color: #FF9D00;
    font-size: 24px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.services_card p::after {
    content: " ";
    position: absolute;
    width: 0%;
    background: #FF9D00;
    height: 1px;
    left: 10%;
    bottom: -5px;
    transform: translateX(-10%);
    transition: .2s;
}

.services_card p:hover::after {
    width: 100%;
}

/* services end */

/* workout start */
.workout_filter {
    display: flex;
    gap: 30px;
}

.filter_button_active {
    padding: 10px 20px;
    background-color: #FF9D00;
    border: 2px solid #FF9D00;
    border-radius: 10px;
}

.filter_button_active:hover {
    background-color: transparent;
    border: 2px solid #FF9D00;
}

.filter_button_active a {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.filter_button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #FF9D00;
    border-radius: 10px;
}

.filter_button:hover {
    background-color: #FF9D00;
    border: 2px solid #FF9D00;
}

.filter_button a {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.workout_cards {
    margin-top: 50px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.workout_card_large {
    box-shadow: 0px 4px 30px #FFE66B;
    padding: 30px;
    border-radius: 0px 0px 30px 0px;
    color: white;
    display: flex;
    justify-content: center;
    width: 800px;
    gap: 40px;
}

.workout_card_large img {
    width: 400px;
    height: 430px;
    margin-top: 120px;
}

.workout_card_large .about_card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.workout_card_large .name {
    font-size: 40px;
    font-weight: 700;
    color: #FFE66B;
}

.workout_card_large .coach {
    font-size: 24px;
    font-weight: 400;
}

.workout_card_large .description {
    font-size: 20px;
    font-weight: 400;
}

.workout_card_large .card_button {
    padding: 10px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9D00;
    border: 2px solid #FF9D00;
    border-radius: 20px;
    width: 300px;
    margin-top: 40px;
}

.workout_card_large .card_button:hover {
    background-color: transparent;
    border: 2px solid #FF9D00;
}

.workout_card_large .card_button a {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.workout_card_mini {
    box-shadow: 0px 4px 30px #FFE66B;
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 0px 0px 30px 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.workout_card_mini img {
    width: 360px;
    height: 370px;
}

.workout_card_mini .about_card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.workout_card_mini .name {
    font-size: 32px;
    font-weight: 700;
    color: #FFE66B;
}

.workout_card_mini .coach {
    font-size: 22px;
    font-weight: 400;
}

.workout_card_mini .description {
    font-size: 20px;
    font-weight: 400;
}

.workout_card_mini .card_button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9D00;
    border: 2px solid #FF9D00;
    border-radius: 20px;
    width: 300px;
    margin-top: 20px;
}

.workout_card_mini .card_button:hover {
    background-color: transparent;
    border: 2px solid #FF9D00;
}

.workout_card_mini .card_button a {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

/* workout end */

/* experts start */
.experts_cards {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.expert_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.expert_card img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

.expert_card p {
    font-size: 26px;
    font-weight: 400;
    color: #FFE66B;
    text-align: center;
}

/* experts end */

/* recipes start */
.recipes_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
}

.recipe_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.recipe_card img {
    border-radius: 20px;
}

.about_recipe {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    text-align: center;
}

.category {
    font-size: 36px;
    color: #FF9D00;
    font-weight: 700;
}

.dish {
    font-size: 28px;
    color: #FFE66B;
    font-weight: 400;
}

.time {
    font-size: 24px;
}

.calories {
    font-size: 24px;
}

/* recipes end */

/* media start */
.media {
    display: flex;
    gap: 70px;
    flex-direction: column;
}

.media {
    margin-top: 170px;
}

.media img {
    height: 50px;
    cursor: pointer;
}

.media img:hover {
    transform: scale(1.1);
}

.media_top {
    display: flex;
    gap: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.media_bottom {
    display: flex;
    gap: 100px;
    width: 100%;
    align-items: center;
    margin-left: 270px;
}

/* media end */

/* subscribe start */
.subscribe_content {
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    box-shadow: 0px 4px 30px #FFE66B;
    border-radius: 10px;
}

.subscribe_text {
    font-size: 32px;
    color: white;
    font-weight: 400;
    width: 45%;
    text-align: center;
}

.subscribe_text span {
    color: #FF9D00;
}

.subscribe_form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.subscribe_form input {
    width: 400px;
    height: 70px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    color: #353535;
    font-size: 20px;
}

.subscribe_form input::placeholder {
    font-size: 20px;
    color: rgb(128, 128, 128);
}

.subscribe_button {
    width: 340px;
    height: 70px;
    background-color: #FF9D00;
    border: 2px solid #FF9D00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe_button:hover {
    background-color: transparent;
    border: 2px solid #FF9D00;
}

.subscribe_button a {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

/* subscribe end */

/* footer start */
footer {
    width: 100%;
    border-top: 2px solid #FF9D00;
    height: 270px;
    padding: 50px;
    margin-top: 300px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_content nav {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.footer_content nav a {
    font-size: 24px;
    font-weight: 400;
    color: #FF9D00;
}

.footer_content nav a:hover {
    transform: scale(1.1);
}

.footer_content .logo img {
    width: 150px;
    height: 150px;
}

.footer_content img {
    width: 70px;
    height: 70px;
}

.socmedia {
    display: flex;
    gap: 10px;
}

.socmedia img {
    cursor: pointer;
    fill: white;
}

.socmedia img:hover {
    transform: rotate(360deg);
    transition: .9s;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.tel a {
    font-size: 24px;
    color: #FF9D00;
    font-weight: 700;
}

.tel:hover {
    transform: scale(1.1);
}

/* footer end */